services:
  coolqbot:
    image: he0119/coolqbot
    container_name: coolqbot
    restart: always
    volumes:
      - "./data:/app/data"
    ports:
      - "8080:8080"
    env_file:
      - ".env"
    depends_on:
      playwright:
        condition: service_healthy

  rsshub:
    image: diygod/rsshub
    container_name: rsshub
    restart: always

  playwright:
    image: jacoblincool/playwright:chromium-server-1.57.0
    container_name: playwright
    restart: always
