services:
  coolqbot:
    image: he0119/coolqbot
    container_name: coolqbot
    restart: always
    volumes:
      - "./data:/app/data"
      - "./fonts:/usr/share/fonts/meme-fonts"
    ports:
      - "8080:8080"
    env_file:
      - ".env"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${PORT:-8080}/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 180s

  netease:
    image: binaryify/netease_cloud_music_api
    container_name: netease
    restart: always
    environment:
      - HOST=0.0.0.0
  rsshub:
    image: diygod/rsshub
    container_name: rsshub
    restart: always
