[tool.poetry]
authors = ["hemengyang <hmy0119@gmail.com>"]
description = "基于 NoneBot2 的聊天机器人"
license = "MIT"
name = "coolqbot"
readme = "README.md"
repository = "https://github.com/he0119/CoolQBot"
version = "0.15.3"

[tool.poetry.dependencies]
python = "^3.10"
tencentcloud-sdk-python = "^3.0.593"
psutil = "^5.8.0"
eorzeaenv = "^2.2.8"
matplotlib = "^3.7.1"

nonebot2 = { extras = ["httpx", "fastapi"], version = "^2.0.0-rc.3" }
nb-cli = "^1.0.5"
nonebot-adapter-onebot = "2.2.2"
onebot-qqguild-extension = "^0.1.0"

nonebot-plugin-datastore = "^0.6.0"
nonebot-plugin-wordcloud = "^0.4.7"
nonebot-plugin-treehelp = ">=0.0.5"

nonebot-plugin-apscheduler = "^0.2.0"
nonebot-plugin-sentry = "^0.2.2"
nonebot-plugin-memes = "0.4.4"
nonebot-bison = "0.7.1"
nonebot-plugin-gscode = "0.1.6"
nonebot-plugin-naturel-gpt = "2.0.4"

[tool.poetry.group.dev.dependencies]
black = "*"
isort = "*"
pre-commit = "*"
nonebug = "0.3.2"
pytest-cov = "^4.0.0"
pytest-mock = "^3.6.1"
pytest-xdist = "^3.0.2"
pytest-asyncio = "^0.21.0"

[tool.nonebot]
plugin_dirs = ["src/plugins"]
plugins = [
    "onebot_qqguild_extension",
    "nonebot_plugin_apscheduler",
    "nonebot_plugin_sentry",
    "nonebot_plugin_treehelp",
    "nonebot_plugin_datastore",
    "nonebot_plugin_wordcloud",
    "nonebot_plugin_memes",
    "nonebot_bison",
    "nonebot_plugin_gscode",
    "nonebot_plugin_naturel_gpt",
]

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
line_length = 88
skip_gitignore = true

[tool.pytest.ini_options]
asyncio_mode = "auto"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
