[tool.poetry]
authors = ["hemengyang <hmy0119@gmail.com>"]
description = "基于 NoneBot2 的聊天机器人"
license = "MIT"
name = "coolqbot"
readme = "README.md"
repository = "https://github.com/he0119/CoolQBot"
version = "0.14.1"

[tool.poetry.dependencies]
python = "^3.9"
nb-cli = "^0.5.0"
nonebot2 = "^2.0.0a15"
nonebot-adapter-cqhttp = "^2.0.0a15"
nonebot-plugin-apscheduler = "^0.1.2"
nonebot-plugin-sentry = "^0.2.2"
python-dateutil = "^2.8.1"
tencentcloud-sdk-python = "^3.0.434"
tinydb = "^4.3.0"
beautifulsoup4 = "^4.9.3"
feedparser = "^6.0.2"
pyppeteer = "^0.2.5"
pillow = "^8.1.0"
psutil = "^5.8.0"

[tool.poetry.dev-dependencies]
nonebot-plugin-docs = "^2.0.0a15"
nonebot-plugin-test = "^0.3.0"
black = "^21.8b0"
isort = "^5.9.3"

[[tool.poetry.source]]
default = true
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple/"

[nonebot.plugins]
plugin_dirs = ["src/plugins", "src/web"]
plugins = []

[tool.black]
# line-length = 90

[tool.isort]
profile = "black"
# line_length = 90
skip_gitignore = true

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
