[tool.poetry]
authors = ["hemengyang <hmy0119@gmail.com>"]
description = "基于 NoneBot2 的聊天机器人"
license = "MIT"
name = "coolqbot"
readme = "README.md"
repository = "https://github.com/he0119/CoolQBot"
version = "0.17.5"

[tool.poetry.dependencies]
python = "^3.12"
pydantic = "^2.6.3"
eorzeaenv = "^2.2.8"
matplotlib = "^3.7.1"

nonebot2 = { extras = ["httpx", "fastapi", "websockets"], version = "^2.2.0" }
nb-cli = "^1.4.0"
nonebot-adapter-onebot = "^2.4.1"
nonebot-adapter-qq = "^1.4.2"
nonebot-adapter-kaiheila = "^0.3.1"
nonebot-adapter-red = "^0.9.0"
nonebot-adapter-satori = "^0.9.3"
nonebot-adapter-dodo = "^0.2.0"

nonebot-plugin-wordcloud = "^0.7.0"
nonebot-plugin-treehelp = "^0.4.1"
nonebot-plugin-user = "^0.2.0"

nonebot-plugin-orm = { extras = ["default"], version = "^0.7.1" }
nonebot-plugin-apscheduler = "^0.4.0"
nonebot-plugin-send-anything-anywhere = "^0.6.0"
nonebot-plugin-alconna = "^0.38.0"
nonebot-plugin-datastore = "^1.2.0"

nonebot-plugin-sentry = "1.1.0"
nonebot-plugin-memes = "0.6.1"
nonebot-bison = "0.9.0"
nonebot-plugin-status = "0.7.2"
nonebot-plugin-bawiki = "0.11.0"

[tool.poetry.group.dev.dependencies]
nonebug = "^0.3.3"
nonebug-saa = "^0.4.0"
pytest-cov = "^4.0.0"
pytest-mock = "^3.6.1"
pytest-xdist = "^3.0.2"
pytest-asyncio = "^0.23.3"
respx = "^0.20.1"
freezegun = "^1.2.2"
beautifulsoup4 = "^4.12.3"

[tool.nonebot]
plugin_dirs = ["src/plugins"]
plugins = [
    "nonebot_plugin_apscheduler",
    "nonebot_plugin_saa",
    "nonebot_plugin_alconna",
    "nonebot_plugin_datastore",
    "nonebot_plugin_orm",
    "nonebot_plugin_user",
    "nonebot_plugin_sentry",
    "nonebot_plugin_treehelp",
    "nonebot_plugin_wordcloud",
    "nonebot_plugin_memes",
    "nonebot_bison",
    # "nonebot_plugin_status",
    "nonebot_plugin_bawiki",
]

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.pyright]
pythonVersion = "3.12"
pythonPlatform = "All"
typeCheckingMode = "basic"

[tool.ruff.lint]
select = ["F", "E", "W", "C", "I", "UP", "T", "PYI", "PT", "Q", "TID"]
ignore = ["E402", "E501", "E711", "C901", "UP037"]

[tool.coverage.report]
omit = ["*/migrations/*"]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
