[tool.poetry]
authors = ["hemengyang <hmy0119@gmail.com>"]
description = "基于 NoneBot2 的聊天机器人"
license = "MIT"
name = "coolqbot"
readme = "README.md"
repository = "https://github.com/he0119/CoolQBot"
version = "0.14.1"

[tool.poetry.dependencies]
python = "^3.9"
nb-cli = "^0.5.0"
nonebot2 = "^2.0.0a14"
nonebot-adapter-cqhttp = "^2.0.0a14"
nonebot-plugin-apscheduler = "^0.1.2"
nonebot-plugin-sentry = "^0.2.2"
python-dateutil = "^2.8.1"
tencentcloud-sdk-python = "^3.0.434"

[tool.poetry.dev-dependencies]
nonebot-plugin-docs = "^2.0.0a15"
# nonebot-plugin-test = "^0.2.0"
toml = "^0.10.2"
yapf = ">=0.31.0"

[[tool.poetry.source]]
default = true
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple/"

[nonebot.plugins]
plugin_dirs = ["src/plugins"]
plugins = []

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
