[tool.poetry]
authors = ["hemengyang <hmy0119@gmail.com>"]
description = "基于 NoneBot2 的聊天机器人"
license = "MIT"
name = "coolqbot"
readme = "README.md"
repository = "https://github.com/he0119/CoolQBot"
version = "0.15.2"

[tool.poetry.dependencies]
python = "^3.9"
nb-cli = "^0.5.0"
nonebot2 = { git = "https://github.com/nonebot/nonebot2.git", branch = "dev" }
nonebot-adapter-onebot = { git = "https://github.com/nonebot/adapter-onebot" }
nonebot-plugin-apscheduler = "^0.1.2"
nonebot-plugin-sentry = "^0.2.2"
tencentcloud-sdk-python = "^3.0.434"
tinydb = "^4.3.0"
beautifulsoup4 = "^4.9.3"
feedparser = "^6.0.2"
pyppeteer = "^0.2.5"
pillow = "^8.1.0"
psutil = "^5.8.0"

[tool.poetry.dev-dependencies]
black = "^21.8b0"
isort = "^5.9.3"

[[tool.poetry.source]]
default = true
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple/"

[[tool.poetry.source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"

[nonebot.plugins]
plugin_dirs = ["src/plugins", "src/web"]
plugins = ["nonebot_plugin_sentry"]

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
line_length = 88
skip_gitignore = true

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
