[tool.poetry]
authors = ["hemengyang <hmy0119@gmail.com>"]
description = "基于 NoneBot2 的聊天机器人"
license = "MIT"
name = "coolqbot"
readme = "README.md"
repository = "https://github.com/he0119/CoolQBot"
version = "0.15.3"

[tool.poetry.dependencies]
python = "^3.11"
tencentcloud-sdk-python = "^3.0.593"
eorzeaenv = "^2.2.8"
matplotlib = "^3.7.1"

nonebot2 = { extras = ["httpx", "fastapi"], version = "^2.0.0" }
nb-cli = "^1.1.1"
nonebot-adapter-onebot = "2.2.3"
onebot-qqguild-extension = "^0.1.1"

nonebot-plugin-datastore = "^0.6.0"
nonebot-plugin-wordcloud = "^0.4.7"
nonebot-plugin-treehelp = "^0.3.0"

nonebot-plugin-apscheduler = "^0.2.0"
nonebot-plugin-sentry = "^0.4.0"
nonebot-plugin-memes = "0.4.6"
nonebot-bison = "0.7.3"
nonebot-plugin-gscode = "0.1.8"
nonebot-plugin-status = "^0.7.1"

[tool.poetry.group.dev.dependencies]
black = "*"
isort = "*"
pre-commit = "*"
nonebug = "^0.3.3"
pytest-cov = "^4.0.0"
pytest-mock = "^3.6.1"
pytest-xdist = "^3.0.2"
pytest-asyncio = "^0.21.1"
respx = "^0.20.1"

[tool.nonebot]
plugin_dirs = ["src/plugins"]
plugins = [
    "onebot_qqguild_extension",
    "nonebot_plugin_apscheduler",
    "nonebot_plugin_sentry",
    "nonebot_plugin_treehelp",
    "nonebot_plugin_datastore",
    "nonebot_plugin_wordcloud",
    "nonebot_plugin_memes",
    "nonebot_bison",
    "nonebot_plugin_gscode",
    "nonebot_plugin_status",
]

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
line_length = 88
skip_gitignore = true

[tool.pytest.ini_options]
asyncio_mode = "auto"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
