[tool.poetry]
authors = ["hemengyang <hmy0119@gmail.com>"]
description = "基于 NoneBot2 的聊天机器人"
license = "MIT"
name = "coolqbot"
readme = "README.md"
repository = "https://github.com/he0119/CoolQBot"
version = "0.15.3"

[tool.poetry.dependencies]
python = "^3.10"
nonebot2 = { extras = ["httpx", "websockets"], version = "^2.0.0rc3" }
nonebot-adapter-onebot = "^2.1.0"
nonebot-plugin-apscheduler = "^0.2.0"
nonebot-plugin-sentry = "^0.2.2"
nonebot-plugin-datastore = "^0.4.0"
nonebot-plugin-wordcloud = "0.3.1"
nonebot-plugin-treehelp = "^0.0.1"
tencentcloud-sdk-python = "^3.0.593"
psutil = "^5.8.0"
nonebot-plugin-memes = "0.3.9"
nonebot-plugin-petpet = "0.3.18"
nonebot-bison = "0.6.3"
nonebot-plugin-gscode = "0.1.5"
eorzeaenv = "^2.2.8"

[tool.poetry.group.dev.dependencies]
black = "^22.10.0"
isort = "^5.10.1"
nonebug = "^0.2.2"
pytest-cov = "^4.0.0"
pytest-mock = "^3.6.1"
pytest-xdist = "^3.0.2"
pre-commit = "^2.19.0"
pytest-asyncio = "^0.20.2"

[tool.nonebot]
plugin_dirs = ["src/plugins"]
plugins = [
    "nonebot_plugin_apscheduler",
    "nonebot_plugin_sentry",
    "nonebot_plugin_treehelp",
    "nonebot_plugin_datastore",
    "nonebot_plugin_wordcloud",
    "nonebot_plugin_memes",
    "nonebot_plugin_petpet",
    "nonebot_bison",
    "nonebot_plugin_gscode",
]

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
line_length = 88
skip_gitignore = true

[tool.pytest.ini_options]
asyncio_mode = "auto"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
