nonebot[scheduler]==1.6.0
httpx==0.12.1
jieba==0.42.1
python-dateutil==2.8.1
msgpack==1.0.0

# yobot
requests==2.23.0
aiohttp==3.6.2
opencc-python-reimplemented==0.1.5
feedparser==5.2.1
beautifulsoup4==4.9.0
arrow==0.15.5
peewee==3.13.3
expiringdict==1.2.0
