nonebot[scheduler]==1.4.1
httpx>=0.11.1
jieba==0.39
python-dateutil==2.8.1
msgpack==0.6.2

requests==2.23.0
aiohttp==3.6.2
opencc-python-reimplemented
feedparser==5.2.1
beautifulsoup4==4.9.0
arrow==0.15.5
peewee==3.13.2
expiringdict==1.2.0
