[bot]
host = 127.0.0.1
port = 8080
# 你的群号
group_id = 438789224
# 是否是 酷Q 专业版
is_coolq_pro = 0
# 管理员 QQ 号
admin = 417557420
# 机器人昵称
nickname = 小誓约 小17
# 图灵机器人的 APIKEY（没有就不用填）
tuling_api_key =
# 腾讯机器人的 APIKEY（没有就不用填）
tencent_ai_app_id =
tencent_ai_app_key =
